*{
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: rgba(117, 200, 238, 0.193);

}

h1,h2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#filtros{
  display: flex;
  float: right;
  margin-right:40px;
  margin-top: 80px;
}

#container{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.grilla{
width: 100%;
border-collapse: collapse;
}

#formulario{
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  visibility: hidden;
  visibility: visible;
  flex-direction:column;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 5px;
  margin-top: 130px;
  margin-left: 25%;
  width: 50%;
  z-index: 1000;
  background-color: rgb(159, 197, 195);
  height: 430px;
}

#plantilla{
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  flex-direction:column;
  margin-top: -370px;
  padding: 5px;
  width: 98%;
  height: 300px;
}


#listado{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  margin-right: 10px;
  padding: 10px;
}

tr{
  width: 100%;
  justify-content:space-around;
}

th,td{
  text-align: initial;
  padding: 5px;
}

tr:nth-child(odd){
  background-color: rgb(64, 190, 212,0.35);
}

#cabecera{
  background-color: rgb(16, 192, 169);
  color: white;
  font-size: 14px;
}

.btnEliminar{
  background-color: rgb(255, 3, 3,0.72);
  color: white;
  border: inherit;
  border-radius: 4px;
}
#btnAgregar{
  width: 130px;
  height: 30px;
  color: rgb(224, 250, 224);
  margin-left: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 2px;
  border: lightgray;
  background-color: rgba(49, 173, 97, 0.863);
}

#btnAlta{
  width: 90px;
  height: 25px;
  color: honeydew;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: rgba(63, 154, 228, 0.863);
}

#btnCerrar{
  width: 30px;
  height: 30px;
  margin-left: 90%;
  font-size: 14px;
  border-radius: 2px;
  border: lightgray;
  background-color: rgb(228, 72, 72);

}

#btnPromedio{
  margin-left: 10px;
}  

.inputs{
  width: 94%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#promPrecio{
  width: 100px;
}

